<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Ecoride</title>
    <link rel="icon" type="image/png" sizes="502x497" href="assets/img/logo.png">
    <link rel="icon" type="image/png" sizes="502x497" href="assets/img/logo.png">
    <link rel="icon" type="image/png" sizes="502x497" href="assets/img/logo.png">
    <link rel="icon" type="image/png" sizes="502x497" href="assets/img/logo.png">
    <link rel="icon" type="image/png" sizes="502x497" href="assets/img/logo.png">
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins&amp;display=swap">
    <link rel="stylesheet" href="assets/fonts/fontawesome-all.min.css">
    <link rel="stylesheet" href="assets/css/styles.css">
</head>

<body>
    <nav class="bg-white fixed-top">
        <div class="row">
            <div class="col-11 col-lg-4 d-flex justify-content-start justify-content-lg-center align-items-center"><a class="d-flex align-items-center" href="index.html"><img src="assets/img/logo.png" style="height: 80px;"><span class="fs-1 fw-bold"><span style="color: var(--color-main);">Eco</span><span style="color: var(--color-second);">Ride</span></span></a></div>
            <div class="col-lg-8 d-none d-lg-flex align-items-center px-4">
                <ul class="list-inline fs-6 fw-bold text-dark text-capitalize">
                    <li class="list-inline-item px-2"><a href="index.html">home</a></li>
                    <li class="list-inline-item px-2"><a href="about.html">about</a></li>
                    <li class="list-inline-item px-2"><a href="pricing.html">pricing</a></li>
                    <li class="list-inline-item px-2"><a href="contact.html">contact</a></li>
                    <li class="list-inline-item px-2"><a class="border border-danger py-2 px-4 rounded-pill" href="signup.html" style="color: var(--color-second);">sign up here</a></li>
                    <li class="list-inline-item px-2"><a class="text-white py-2 px-4 rounded-pill" href="login.html" style="background: var(--color-main);">Login Here</a></li>
                </ul>
            </div>
            <div class="col-1 d-lg-none d-flex justify-content-center align-items-center text-center">
                <div class="dropdown"><button class="btn dropdown-toggle p-1" aria-expanded="false" data-bs-toggle="dropdown" ic="button"><i class="fas fa-list-ul fs-4"></i></button>
                    <div class="dropdown-menu text-capitalize"><a class="dropdown-item" href="index.html">Home</a><a class="dropdown-item" href="about.html">About</a><a class="dropdown-item" href="pricing.html">pricing</a><a class="dropdown-item" href="signup.html">contact</a><a class="dropdown-item" href="login.html">sign up</a><a class="dropdown-item" href="#">login</a></div>
                </div>
            </div>
        </div>
    </nav>
    <div class="spacer"></div>
    <div class="py-5 px-2 px-md-3 px-lg-5">
        <div class="p-2 d-flex justify-content-between"><span class="fs-4 fw-bold">Here is your List of Cars</span><a class="btn btn-primary rounded-pill text-capitalize" role="button" style="background: var(--color-main);" href="new_car.html">edit payment options</a></div>
        <div class="row">
            <div class="col-md-6 col-lg-4">
                <div><img></div>
                <div><span>PayPal</span></div>
            </div>
        </div>
    </div>
    <footer class="row justify-content-center py-5 px-2 px-md-2 px-lg-5 bg-dark text-white text-center text-md-start">
        <div class="d-none d-md-block col-md-6 col-lg-4 p-2 px-md-4">
            <h5 class="fw-bold text-capitalize mb-4">do you have any queries regarding our pricing?</h5><a class="btn btn-primary text-uppercase fw-bold mb-4" role="button" style="font-size: 12px;background: var(--color-main);" href="contact.html">send inquiry</a>
            <p style="color: var(--bs-gray-500);">Our team will respond to your inquiries withing 48 hours</p>
        </div>
        <div class="d-none d-md-block col-md-6 col-lg-4 p-2 px-md-4">
            <h5 class="fw-bold text-capitalize">do you have any questions and want to contact us?</h5>
            <h5 class="fw-bold text-capitalize mb-4" style="color: var(--color-second);">feel free to call us</h5><a class="fs-5" href="#" style="color: var(--color-white);"><i class="fas fa-mobile-alt me-2"></i><span>+265 123 45 67 89</span></a>
            <p class="mt-2" style="color: var(--bs-gray-500);">Our team will respond to your inquiries withing 48 hours</p>
        </div>
        <div class="col-md-6 col-lg-4 p-2 px-md-4">
            <h5 class="fw-bold text-capitalize">our working hours</h5>
            <p class="mt-2 text-capitalize" style="color: var(--bs-gray-500);">24 hours, 7 days a week</p>
            <ul class="list-inline fs-3">
                <li class="list-inline-item"><a class="text-white" href="#"><i class="fab fa-facebook-f p-2 rounded-circle" style="background: var(--color-main);"></i></a></li>
                <li class="list-inline-item"><a class="text-white" href="#"><i class="fab fa-twitter p-2 rounded-circle" style="background: var(--color-second);"></i></a></li>
                <li class="list-inline-item"><a class="text-white" href="#"><i class="fab fa-google-plus-g p-2 rounded-circle" style="background: var(--color-main);"></i></a></li>
                <li class="list-inline-item"><a class="text-white" href="#"><i class="fab fa-linkedin-in p-2 rounded-circle" style="background: var(--color-second);"></i></a></li>
            </ul>
        </div>
        <div class="col-12 text-center"><span><a class="me-2" href="index.html">EcodeRide</a><span>@ 2023 created by&nbsp;</span><a href="https://linktr.ee/leroy_official.mw" target="_blank">Leroy</a></span></div>
    </footer>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>