<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>EcoRide Gate</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/fonts/fontawesome-all.min.css">
    <link rel="stylesheet" href="assets/css/jquery.dataTables.min.css">
    <link rel="stylesheet" href="assets/css/styles.css">
</head>

<body>
    <nav>
        <div class="py-2 row text-center">
            <div class="col-4">
                <h1>Gate Man Dashboard</h1>
            </div>
            <div class="col-4 d-flex justify-content-center align-items-center">
                <form class="d-inline-flex" method="get"><input class="form-control" type="search" name="search" placeholder="Search for Car" required=""><button class="btn" type="submit"><i class="fas fa-search"></i></button></form>
            </div>
            <div class="col-4"></div>
        </div>
        <div class="row text-center py-1">
            <div class="col-3 p-3"><a class="btn btn-light" role="button" href="park_space_stats.html">View Parking Space Status</a></div>
            <div class="col-3 p-3"><a class="btn btn-light" role="button" href="booking.html">View Bookings</a></div>
            <div class="col-3 p-3"><a class="btn btn-light" role="button" href="ariel_view.html">View Car Park Map</a></div>
            <div class="col-3 p-3"><a class="btn btn-light" role="button" href="emergency_numbers.html">Emegency Numbers</a></div>
        </div>
    </nav>
    <div>
        <div class="row py-2">
            <div class="col-4 p-3">
                <div class="card">
                    <div class="card-body text-center">
                        <h5 class="card-title">Available Parking Spots</h5>
                        <p class="card-text">10</p>
                    </div>
                </div>
            </div>
            <div class="col-4 p-3">
                <div class="card">
                    <div class="card-body text-center">
                        <h5 class="card-title">Occupied Parking Spots</h5>
                        <p class="card-text">10</p>
                    </div>
                </div>
            </div>
            <div class="col-4 p-3">
                <div class="card">
                    <div class="card-body text-center">
                        <h5 class="card-title">Reserved Parking Spots</h5>
                        <p class="card-text">10</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div>
        <div class="d-flex justify-content-between"><a class="btn" role="button">Manage Bookings</a>
            <h2>Parking Spot Status</h2><a class="btn" role="button">View in Graphical Form</a>
        </div>
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr class="text-center">
                        <th>Parking Spot</th>
                        <th>Status</th>
                        <th>Entry Time</th>
                        <th>Exit Time</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="text-center">
                        <td>1</td>
                        <td>Occupied</td>
                        <td>08:30am</td>
                        <td>10:30am</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <footer></footer>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="assets/js/jquery.dataTables.min.js"></script>
    <script src="assets/js/table.js"></script>
</body>

</html>